@{
    Layout = null;
}
@model TTPV2.Models.TTPDBEntities

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="confirmMessage">

    </div>
    <div>
        <button id="newEvent()"></button>
       
    </div>

    <div class="well well-lg">
        @foreach (var m in Model.Events) {

        <label>Title:</label>  @m.TitreEvt
        <label>localisation:</label>@m.LocEvt
        <label>Date:</label>@m.DateEvt
        <label>Etat:</label>@m.EtatEvt
        <label>Places restantes:</label>@m.NbMaxParticipants
        }

    </div>
</body>
</html>
